<div class="container">
    <div class="row">
      <div class="col-8 p">
        Cart Component View
        <jhi-cart></jhi-cart>
      </div>
      <div class="col-4 s">
        Cart Item Expanded View
        <div class="row justify-content-center">
            <div class="col-8">
                <div *ngIf="cart">
                    <hr>
        
                    <jhi-alert-error></jhi-alert-error>
        
                    <dl class="row-md jh-entity-details">
                        <dt><span>S/N</span></dt>
                        <dd>
                            <span>{{ cart.id }}</span>
                        </dd>
                        <dt><span>Name</span></dt>
                        <dd>
                            <span>{{ cart.name }}</span>
                        </dd>
                        <dt><span>Description</span></dt>
                        <dd>
                            <span>{{ cart.description }}</span>
                        </dd>
                        <dt><span>Price</span></dt>
                        <dd>
                            <span>{{ cart.price }}</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>       
  </div>